body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

.lazy-fade {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.lazy-fade-loaded {
  opacity: 1;
}

header {
  background-color: #183A73;
  color: white;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  max-width: 330px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 0.5rem;
}

.nav ul {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.nav.active ul {
  display: flex;
  gap: 10px;
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: block;
}

.nav a:hover {
  background: #333;
  color: white;
  border-radius: 10%;
}

.nav a[aria-current="page"] {
  background: #1f1f1f;
  color: white;
  border-radius: 10%;
}

h2 {
  font-size: 34px;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 16px;
  margin-left: auto;
  cursor: pointer;
  color: white;
  z-index: 1;
}

footer {
  background-color: #183A73;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}